
        html{
            scroll-behavior: smooth;
        }
        body {
            background-color: #2b2b2b;
            font-family: 'Open Sans', sans-serif;
            color: #fff;
            font-size: 1.2rem;
            text-align: center;
        }
        dd{
          margin: 10px;  
        }
        h1 {
            font-family: 'Allura', cursive;
            color: #ef233c;
            font-size: 100px;
        }

        h3 {
            /* font-family: 'Carter One', cursive; */
            color: #379ad6;
        }
        header{
            position: fixed;
        }
        li{
            padding: 20px;
        }
        a {
            text-decoration: none;
            color: #f7e018;
        }

        .header {
            
            height: 400px;
            padding: 60px 20px;
        }

        table {
            margin: auto;
        }

        img {
            width: 120px;
            padding: 15px;
        }

        form {
            text-align: left;
            padding-left: 400px;

        }

        input {
            width: 500px;
            height: 40px;
            border-radius: 10px;
            border: #e90c31 2px solid;


        }

        textarea {
            border-radius: 10px;
            border: #e90c31 2px solid;

        }

        button {
            padding: 10px;
            margin: 5px;
            border-radius: 10px;
            border: #e90c31 2px solid;
        }

        button:hover{
            background: #ccc;
        }
        td {
            padding: 20px;
        }
  